.elgg-comments {
	.elgg-list {
		border: none;
		
		.elgg-form-comment-save {
			margin-top: 0 !important;
			margin-bottom: 1rem !important;
		}
	
		> li.elgg-item-object-comment {
			padding: 0;
			border: none;
			margin-top: -1px;
			
			> .elgg-content {
				margin: 0;
			}
		}
		
		.comments-list, .elgg-form-comment-save {
			margin-top: 0.5rem;
			margin-left: 4rem;
		}
	}
	
	.elgg-listing-full-header {
		padding: 1rem;
		border-style: solid;
		border-color: $(border-color-mild);
		border-width: 1px;
		margin-bottom: 0;
	}
	
	.elgg-listing-full.with-children {
		> .elgg-listing-full-header {
			border-width: 1px;
		}
	}
	
	.elgg-listing-full-responses {
		border-left: 2px dashed $(border-color-soft);
	}
}

.elgg-river-comments > li.elgg-item-object-comment > .elgg-listing-full > .elgg-listing-full-header {
	margin-bottom: 0;
}
		